In [8]:
!ls

LTC.FID.pdf                      PDF_Pistols_Boston_Daniela.ipynb
LTC.FID.xlsx                     tabula-LTC.FID.csv

In [9]:
import pdfquery

In [11]:
pdf = pdfquery.PDFQuery("LTC.FID.pdf")
pdf.load()

In [13]:
pdf = pdfquery.PDFQuery('LTC.FID.pdf')

pdf.extract([
	('with_formatter', 'text'),
	('Unnamed0', 'LTPage[pageid=\'1\'] LTTextLineHorizontal:overlaps_bbox("379,540,447,557")'),
	('Unnamed1', 'LTPage[pageid=\'1\'] LTTextLineHorizontal:overlaps_bbox("379,529,441,544")'),
	('Unnamed2', 'LTPage[pageid=\'1\'] LTTextLineHorizontal:overlaps_bbox("380,516,450,530")'),
	('Unnamed3', 'LTPage[pageid=\'1\'] LTTextLineHorizontal:overlaps_bbox("379,503,451,521")'),
	('Unnamed4', 'LTPage[pageid=\'1\'] LTTextLineHorizontal:overlaps_bbox("455,542,510,554")'),
	('Unnamed5', 'LTPage[pageid=\'1\'] LTTextLineHorizontal:overlaps_bbox("463,530,516,541")'),
	('Unnamed6', 'LTPage[pageid=\'1\'] LTTextLineHorizontal:overlaps_bbox("466,519,520,530")'),
	('Unnamed7', 'LTPage[pageid=\'1\'] LTTextLineHorizontal:overlaps_bbox("471,502,514,522")')
])

{'Unnamed0': 'LTC - Approved',
 'Unnamed1': 'LTC - Approved LTC - Denied',
 'Unnamed2': 'LTC - Denied FID - Approved',
 'Unnamed3': 'FID - Approved FID - Denied',
 'Unnamed4': 'LTC - Approved',
 'Unnamed5': '1,242 LTC - Approved',
 'Unnamed6': '',
 'Unnamed7': ''}

In [15]:
import pandas as pd

In [16]:
df = pd.read_excel("/Users/daniela/Desktop/pdf_pistols/LTC.FID.xlsx")

In [17]:
df.head() # looks a bit chaotic

,LTC/FID Approvals and Denials,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,LTC/FID Approvals and Denials 2015 through 04/30/2017,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
2015,2016,NaN,NaN,01/01/2017 - 04/30/2017,NaN,2015,NaN,2016.0,01/01/17 - 04/30/17,2015 to 4/30/17
January,January,NaN,NaN,January,LTC - Approved,1242,NaN,1972.0,579,3793
LTC,NaN,LTC,NaN,LTC,NaN,LTC - Denied,55.0,142.0,92,289
Approved,98,Approved,185,Approved,174,FID - Approved,70.0,110.0,49,229
Denied,9,Denied,16,Denied,21,FID - Denied,5.0,6.0,0,11